{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% comment %} <!-- Favicons --> {% endcomment %}
  <link href="{% static 'assets-portfolio/img/favicon.ico' %}" rel="icon">
  <link href="{% static 'assets-portfolio/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  {% comment %} <!-- Google Fonts --> {% endcomment %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  {% comment %} <!-- Vendor CSS Files --> {% endcomment %}
  <link href="{% static 'assets-portfolio/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets-portfolio/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets-portfolio/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets-portfolio/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets-portfolio/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets-portfolio/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  {% comment %} <!-- Template Main CSS File --> {% endcomment %}
  <link href="{% static 'assets-portfolio/css/style.css' %}" rel="stylesheet">

</head>

<body>

  {% comment %} <!-- ======= Mobile nav toggle button ======= --> {% endcomment %}
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

{% include "includes/_header.html" %}

{% block content %}

{% endblock content %}


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        {% comment %} Copyright {% endcomment %}
         &copy; 
        <script>document.write(new Date().getFullYear());</script> 
        <strong><span>SONOMOU.TECH</span></strong
          >. Tous droits reservés.
      </div>
      <div class="credits">
        {% comment %} <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ --> {% endcomment %}
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets-portfolio/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets-portfolio/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets-portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets-portfolio/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets-portfolio/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets-portfolio/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets-portfolio/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'assets-portfolio/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets-portfolio/js/main.js' %}"></script>

</body>

</html>