    
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">
  
          <div class="section-title">
            <h2>Parcours</h2>
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              {% if infos %}
              <h3 class="resume-title">Resumé</h3>
              <div class="resume-item pb-0">
                {% for info in infos %}
                <p>{{info.resume.html|safe}}</p>
                {% endfor %}
              </div>
              {% endif %}
              
              {% if educations %}
              <h3 class="resume-title">Education</h3>
              {% for education in educations %}
              <div class="resume-item">
                <h4>{{education.formation|upper}}</h4>
                <h5>{{education.periode}}</h5>
                <p><em>{{education.ecole}}</em></p>
                <p>{{education.description}}</p>
              </div>
              {% endfor %}
              {% endif %}
            
              {% if competencesuplementaires %}
              <h3 class="resume-title">Compétences</h3>
              <div class="resume-item">
                <ul>
                  {% for competence in competencesuplementaires %}
                  <li>{{competence.titre}}</li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}



              {% if formations %}
              <h3 class="resume-title">Formations attestée</h3>
              {% for formation in formations %}
              <div class="resume-item">
                <h4>{{formation.titre}} </h4>
                <h5>{{formation.periode}}</h5>
                <p><em><a href="{% if formation.site %}{{formation.site}} {% else %}#!{% endif %}" {% if formation.site %}target="_blank"{% endif %}  >{{formation.entreprise}}</a></em></p>
                <p>{{formation.description.html|safe}}</p>
                <ul>
                </ul>
              </div>
              {% endfor %}
              {% endif %}
            </div>

            {% if experiences %}
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Expériences professionnelles</h3>
              {% for experience in experiences %}
              <div class="resume-item">
                <h4>{{experience.post}}</h4>
                <h5>{{experience.periode}}</h5>
                <p><em><a href="{% if experience.lien %}{{experience.lien}}{% else %}#!{% endif %}" {% if experience.lien %}target="_blank"{% endif %}>{{experience.entreprise}}</a></em></p>
                <p>{{experience.description.html|safe}}</p>
              </div>
              {% endfor %}
              {% endif %}

              {% if stages %}
              <h3 class="resume-title">Stages</h3>
              {% for stage in stages %}
              <div class="resume-item">
                <h4>{{stage.titre|upper}}</h4>
                <h5> {{stage.periode}}</h5>
                <p><em><a href="{% if stage.site %}{{stage.site}}{% else %}#!{% endif %}" {% if stage.site %}target="_blank" {% endif %}>{{stage.entreprise}}</a></em></p>
                <ul>
                </ul>
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
  
        
        </div>
      </section><!-- End Resume Section -->
  