{% load static %}

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
  
          <div class="section-title">
            <h2>Services</h2>
          </div>
  
          <div class="row">
            {% for service in services %}
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
              {% comment %} <div class="icon"><i class="{{service.icone}}"></i></div> {% endcomment %}
              <h4 class="title"><a href="#!">{{service.titre}}</a></h4>
              <p class="description">{{service.description}}</p>
            </div>
            {% endfor %}
      
          </div>
  
        </div>
      </section><!-- End Services Section -->
  